#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    background-color: white;
    padding: 10px;
    justify-content: center;
    width: 300px;
    height: 350px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-left: 2px solid rgb(171, 105, 49);
    border-bottom: 2px solid rgb(171, 105, 49);
    border-top: 2px solid rgb(236, 212, 186);
    border-right: 2px solid rgb(236, 212, 186);
}
